<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/foto.jpg" alt="Muhammad Taufik Hidayat" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="display-4">Muhammad Taufik Hidayat</h1>
      <p class="lead">Student | Web Developer</p>
    </div>
  </div>
</div>
